<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/public/css/styleHome.css">
    <title>Intercontinental</title>
</head>
<body>
    <header>
        <div class="container_logo">
            <img src="/public/img/LOGO/LOGO BLANCO-GRIS.png" alt="">
            <h1>INTERCONTINENTAL</h1>
        </div>
        <nav>
            <ul>
                <li>
                    <a href="">About me</a>
                </li>
                <li>
                    <a href="">Menu</a>
                </li>
                <li>
                    <a href="">Ordena aqui</a>
                </li>
                <li>
                    <a href="">Reservas</a>
                </li>
            </ul>
        </nav>
    </header>
    <main></main>
    <footer></footer>
</body>
</html>