<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Log In Admin</title>
    <link rel="stylesheet" href="/css/Log_In_Admin/Log_In_Admin.css">
</head>
<body>
  <div class="container-logo">
    <img src="/img/Logo/LOGO BLANCO-GRIS.png" alt="Logo">
  </div>

  <div class="login-container">
      <h1 class="login-title">Admin Log In</h1>
      <form>
          <div class="input-group">
              <input type="text" class="input-field" placeholder="User" required>
              <i class="fas fa-user"></i>
          </div>
          <div class="input-group">
              <input type="password" class="input-field" placeholder="Password" required>
              <i class="fas fa-lock"></i>
          </div>
          <button type="submit" class="submit-btn">Log In</button>
      </form>
  </div>

  <a href="/"><i class="fas fa-arrow-left"></i> Back</a>
  <script src="https://kit.fontawesome.com/c795c59996.js" crossorigin="anonymous"></script>
</body>
</html>