<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://unpkg.com/swiper@8/swiper-bundle.min.css" />
    <link rel="stylesheet" href="/css/Home/Home.css">
    <link rel="stylesheet" href="/css/Home/HomeSlider.css">
    <title>Intercontinental</title>
</head>
<body>
    <header>
        <div class="container_logo">
            <img src="/img/LOGO/LOGO ROJO.png" alt="">
            <h1>INTERCONTINENTAL</h1>
        </div>
        <nav>
            <ul>
                <li>
                    <a href="">About me</a>
                </li>
                <li>
                    <a href="">Menu</a>
                </li>
                <li>
                    <a href="">Order now</a>
                </li>
                <li>
                    <a href="">Reserve</a>
                </li>
            </ul>
        </nav>
    </header>
    <main>
      <section id="section_promotions">
        <h1>PROMOTIONS</h1>
        <div class="container">
          <div class="swiper tranding-slider">
            <div class="swiper-wrapper">
              <!-- Slide-start -->
              <div class="swiper-slide tranding-slide">
                <div class="tranding-slide-img">
                  <img src="/img/Slider Home/img-slider-1.jpg" alt="Tranding">
                </div>
                <div class="tranding-slide-content">
                  <div class="tranding-slide-content-bottom">
                    <h2 class="food-name">
                      Pizza Kuro
                    </h2>
                    <h3 class="food-rating">
                      <span>Itialian 20%</span>
                    </h3>
                  </div>
                </div>
              </div>
              <!-- Slide-end -->
              <!-- Slide-start -->
              <div class="swiper-slide tranding-slide">
                <div class="tranding-slide-img">
                  <img src="/img/Slider Home/img-slider-2.jpg" alt="Tranding">
                </div>
                <div class="tranding-slide-content">
                  <div class="tranding-slide-content-bottom">
                    <h2 class="food-name">
                      波罗
                    </h2>
                    <h3 class="food-rating">
                      <span>Chinense 30%</span>
                    </h3>
                  </div>
                </div>
              </div>
              <!-- Slide-end -->
              <!-- Slide-start -->
              <div class="swiper-slide tranding-slide">
                <div class="tranding-slide-img">
                  <img src="/img/Slider Home/img-slider-3.jpg" alt="Tranding">
                </div>
                <div class="tranding-slide-content">
                  <div class="tranding-slide-content-bottom">
                    <h2 class="food-name">
                      Escargot
                    </h2>
                    <h3 class="food-rating">
                      <span>France 1%</span>
                    </h3>
                  </div>
                </div>
              </div>
              <!-- Slide-end -->
              <!-- Slide-start -->
              <div class="swiper-slide tranding-slide">
                <div class="tranding-slide-img">
                  <img src="/img/Slider Home/img-slider-4.jpg" alt="Tranding">
                </div>
                <div class="tranding-slide-content">
                  <div class="tranding-slide-content-bottom">
                    <h2 class="food-name">
                      Paella
                    </h2>
                    <h3 class="food-rating">
                      <span>Spain 6%</span>
                    </h3>
                  </div>
                </div>
              </div>
              <!-- Slide-end -->
              <!-- Slide-start -->
              <div class="swiper-slide tranding-slide">
                <div class="tranding-slide-img">
                  <img src="/img/Slider Home/img-slider-5.png" alt="Tranding">
                </div>
                <div class="tranding-slide-content">
                  <div class="tranding-slide-content-bottom">
                    <h2 class="food-name">
                      Pane Cake
                    </h2>
                    <h3 class="food-rating">
                      <span>USA 3%</span>
                    </h3>
                  </div>
                </div>
              </div>
              <!-- Slide-end -->
            </div>
          </div>
        </div>
      </section>
      <section class="section_recommended_dishes"></section>
    </main>
    <footer></footer>

     <!-- Scripts -->
     <script type="module" src="https://unpkg.com/ionicons@5.5.2/dist/ionicons/ionicons.esm.js"></script>
     <script nomodule src="https://unpkg.com/ionicons@5.5.2/dist/ionicons/ionicons.js"></script>
     <script src="https://unpkg.com/swiper@8/swiper-bundle.min.js"></script>
     <script src="/js/Home.js"></script>
</body>
</html>