@import url('https://fonts.googleapis.com/css2?family=Anton&family=Chau+Philomene+One&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400;500;600;700;800;900&display=swap');

*{
    margin: 0;
    padding: 0;
    list-style: none;
    text-decoration: none;
    box-sizing: border-box;

    font-family: "Chau Philomene One", sans-serif;
    font-weight: 400;
    font-style: normal;
}

body {
    background-color: rgb(255, 255, 255);
    overflow-x: hidden;
}

header {
    width: 100vw;
    height: 13vh;

    display: flex;
}

.container_logo {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0 30px 0 20px;

    cursor: pointer;
}

.container_logo img {
    width: 120px;
}

.container_logo h1 {
    font-family: "Chau Philomene One", sans-serif;
    font-weight: 400;
    font-style: normal;
    font-size: 50px;

  /*color: #d8d8d8;*/
    color: #e81821;
}

nav {
    display: flex;
    align-items: center;
    margin-left: auto;
}

nav ul {
    display: flex;
    margin: 0 10px 0 0;
}

nav ul li {
    margin: 0 60px 0 0;
}

nav ul li a {
    position: relative;

    font-size: 30px;
    color: #000000;
    transition: all 0.5s ease;
}

    nav ul li:hover a {
        font-size: 40px;
        color: #000000;
    }
    
    nav ul li a::after {
        content: '';
        position: absolute;
        bottom: -5px; /* Ajuste para que la línea quede debajo del texto */
        left: 0;
        width: 0; /* Ancho inicial */
        height: 2px;
        background-color: #e81821; /* Color de la línea */
        transition: width 0.4s ease; /* Animación de la línea */
    }
    
    nav ul li:hover a::after {
        width: 100%; /* Expande la línea en hover */
    }



/* Css para la SECTION 2 */
.section_recommended_dishes {
    margin-top: 20px;
}

.title-section2{
    text-align: center;
    font-size: 30px;
}

.container_cards {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    gap: 100px 150px;
    padding: 74px 200px;
}

.container_cards .custom-card {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: flex-start;
    width: 350px;
    max-width: 100%;
    height: 300px;
    background: #FFF;
    border-radius: 20px;
    transition: 0.5s;
    box-shadow: 0 35px 80px rgba(0, 0, 0, 0.15);
}

.container_cards .custom-card:hover {
    height: 360px;
}

.container_cards .custom-card .img-box {
    position: absolute;
    top: 20px;
    width: 300px;
    height: 220px;
    background: #333;
    border-radius: 12px;
    overflow: hidden;
    transition: 0.5s;
}

.container_cards .custom-card:hover .img-box {
    top: -100px;
    scale: 0.75;
    box-shadow: 0 15px 45px rgba(0, 0, 0, 0.2);
}

.container_cards .custom-card .img-box img {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.container_cards .custom-card .custom-content {
    position: absolute;
    top: 252px;
    width: 100%;
    height: 35px;
    padding: 0 30px;
    text-align: center;
    overflow: hidden;
    transition: 0.5s;
}

.container_cards .custom-card:hover .custom-content {
    top: 130px;
    height: 220px;
}

.container_cards .custom-card .custom-content h2 {
    font-size: 1.5rem;
    font-weight: 700;
    color: #333333;
}

.container_cards .custom-card .custom-content p {
    color: #333;
}

.container_cards .custom-card .custom-content a {
    position: relative;
    top: 15px;
    display: inline-block;
    padding: 12px 25px;
    text-decoration: none;
    background: #181818;
    color: #fff;
    font-weight: 500;
}

.container_cards .custom-card .custom-content a:hover {
    opacity: 0.8;
}

@media (max-width: 480px) {
    .container_cards .custom-card {
        width: 230px;
        border-radius: 15px;
    }

    .container_cards .custom-card .img-box {
        width: 185px;
        border-radius: 10px;
    }

    .container_cards .custom-card .custom-content p {
        font-size: 0.8rem;
    }

    .container_cards .custom-card .custom-content a {
        font-size: 0.9rem;
    }
}

/* Css para la SECTION 3 */
.section_location {
    display: flex;
    flex-direction: column;

    margin-top: 50px;
}

.title-findus {
    font-size: 40px;
    text-align: center;
}

.container-content {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
}

.container-maps {
    max-width: 900px; /* Limita el ancho máximo para pantallas grandes */
    display: flex;
    align-items: center;
}

.container-maps .card-map{
    box-shadow: 0 4px 20px rgba(0, 0, 0, 0.1); /* Sombra suave */
    overflow: hidden; /* Para que el borde redondeado funcione bien */
    border-radius: 10px; /* Bordes redondeados */
    padding: 10px; /* Espacio interno alrededor del iframe */
}

.container-maps iframe {
    width: 800px; /* Hacer que el iframe ocupe todo el ancho del contenedor */
    height: 450px; /* Altura fija para el iframe */
    border: none; /* Quitar el borde del iframe */
    border-radius: 10px; /* Bordes redondeados en el iframe */
}

footer{
    display: flex;
    flex-direction: column;

    width: 100%;
    height: auto;
    background-color: #b90f0f;
    
    color: rgb(212, 212, 212);
    padding:  30px 300px 0 300px;
}

.container_footer {
    display: flex;  
    flex-direction: row;
    justify-content: space-between;
}

.container_information{
    display: flex;
    flex-direction: row;
}

.container_logo h3{
    font-size: 40px;
}


.container_information .card_info{
    padding: 25px;
}

.card_info h3{
    font-size: 30px;
    margin-bottom: 20px;
}

.card_info p{
    font-size: 20px;
    margin-bottom: 10px;
}

.container_networks {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding: 20px 0 20px 0;
    align-items: center;
    border-top: solid 0.5px white;
}

.certificate {
    font-size: 13px;
}


.networks {
    font-size: 25px;
    color: white;
    margin-left: 40px;
}

.networks i {
    padding-left: 10px;
}